// Primitive colors
$gray50: #FBFBFB;
$gray100: #EFEFEF;
$gray200: #DADADA;
$gray300: #C6C6C6;
$gray400: #AFAFB1;
$gray500: #99989D;
$gray600: #838289;
$gray700: #2E2E2E;
$gray800: #212121;
$gray900: #151515;
$gray950: #050505;
$purple500: #8152EE;
$purple700: #6A4BB2;

/**
* in order to use one of the colors included in the palette map;
*  use the functions text-color(key), bg-color(key), border-color(key)
* ie: text-color('primary')
* These color functions should be used to:
*  - define a fallback color for a CSS custom property
*  - for a specific element, we want to use the same color regardless of the color scheme
*/
$palette: (
  text: (
    primary: $gray950,
    secondary: $gray900,
    tertiary: $gray700,
    inactive: $gray600,
  ),
  background: (
    primary: $gray950,
    secondary: $gray900,
    tertiary: $gray800
  ),
  border: (
    primary: $gray700,
    secondary: $gray900,
    inactive: $gray400
  ),
  icon: (
    primary: $gray50,
    secondary: $gray200,
    tertiary: $gray600,
    inactive: $gray500,
    accent: $purple500
  )
);

$paletteDark: (
  text: (
    primary: $gray50,
    secondary: $gray200,
    tertiary: $gray600,
    inactive: $gray500,
  ),
  background: (
    primary: $gray950,
    secondary: $gray900,
    tertiary: $gray800
  ),
  border: (
    primary: $gray700,
    secondary: $gray900,
    inactive: $gray400
  ),
  icon: (
    primary: $gray50,
    secondary: $gray200,
    tertiary: $gray600,
    inactive: $gray500,
    accent: $purple500
  )
);

// should be imported by the config/colors.ts file
$theme-colors-light: (
  '--text-color-primary': text-color('primary'),
  '--text-color-secondary': text-color('secondary'),
  '--text-color-tertiary': text-color('tertiary'),
  '--text-color-inactive': text-color('inactive'),
  '--background-color-primary': bg-color('primary'),
  '--background-color-secondary': bg-color('secondary'),
  '--background-color-tertiary': bg-color('tertiary'),
  '--border-color-primary': border-color('primary'),
  '--border-color-secondary': border-color('secondary'),
  '--border-color-inactive': border-color('inactive'),
  '--icon-color-primary': icon-color('primary'),
  '--icon-color-secondary': icon-color('secondary'),
  '--icon-color-tertiary': icon-color('tertiary'),
  '--icon-color-inactive': icon-color('inactive'),
  '--icon-color-accent': icon-color('accent')
);

$theme-colors-dark: (
  '--text-color-primary': text-color('primary', $paletteDark),
  '--text-color-secondary': text-color('secondary', $paletteDark),
  '--text-color-tertiary': text-color('tertiary', $paletteDark),
  '--text-color-inactive': text-color('inactive', $paletteDark),
  '--background-color-primary': bg-color('primary', $paletteDark),
  '--background-color-secondary': bg-color('secondary', $paletteDark),
  '--background-color-tertiary': bg-color('tertiary', $paletteDark),
  '--border-color-primary': border-color('primary', $paletteDark),
  '--border-color-secondary': border-color('secondary', $paletteDark),
  '--border-color-inactive': border-color('inactive', $paletteDark),
  '--icon-color-primary': icon-color('primary', $paletteDark),
  '--icon-color-secondary': icon-color('secondary', $paletteDark),
  '--icon-color-tertiary': icon-color('tertiary', $paletteDark),
  '--icon-color-inactive': icon-color('inactive', $paletteDark),
  '--icon-color-accent': icon-color('accent', $paletteDark)
);
