/*
!IMPORTANT: Make sure to also run 'pnpm convert-scss-to-js' if you make changes to this file to make sure the changes are reflected in storybook as well
TODO: We'll make this task automatic in the future
*/

/**
* * PRIMITIVE COLORS
*/
$gray50: #fbfbfb;
$gray100: #efefef;
$gray200: #dadada;
$gray300: #c6c6c6;
$gray400: #afafb1;
$gray500: #99989d;
$gray600: #838289;
$gray700: #2e2e2e;
$gray800: #212121;
$gray900: #151515;
$gray950: #050505;
$purple100: #f7f6f9;
$purple200: #eee9f6;
$purple300: #ae8ff7;
$purple500: #8152ee;
$purple600: #6a4bb2;
$purple700: #432d77;

/**
* * SEMANTIC AND ELEMENT COLOR MAP FOR LIGHT THEME
* in order to use one of the colors included in the palette map;
*  use the functions text-color(key), background-color(key), border-color(key)
* ie: text-color('primary')
* These color functions should be used to:
*  - define a fallback color for a CSS custom property
*  - for a specific element, we want to use the same color regardless of the color scheme
*/
$palette: (
  text: (
    primary: $gray900,
    secondary: $gray600,
    tertiary: $gray500,
    accent: $purple300,
    inactive: $gray500,
    reverse: white,
  ),
  background: (
    primary: $gray50,
    secondary: white,
    tertiary: $purple200,
    fourth: $gray100,
    reverse: black,
  ),
  border: (
    primary: $gray200,
    secondary: $gray100,
    tertiary: $gray900,
    accent: $purple300,
  ),
  icon: (
    primary: $gray900,
    secondary: $gray200,
    tertiary: $gray600,
    inactive: $gray500,
    accent: $purple500,
  ),
  shadow: (
    primary: white,
  ),
  'button-text': (
    primary: $purple100,
    inactive: $gray500,
    // todo: value to check with Angela
  ),
  'button-background': (
    primary: $purple500,
    inactive: $gray100,
    // todo: value to check with Angela
  ),
  'backdrop-background': (
    primary: rgba(black, 0.7),
  ),
  'chat-button-border': (
    gradientOne: $purple200,
    gradientTwo: $purple200,
    gradientThree: $purple300,
    gradientFour: $purple300,
    gradientFive: $purple200,
    gradientSix: $purple200,
  ),
  'chat-button-background': (
    gradientOne: $purple300,
    gradientTwo: rgba(255, 255, 255, 0),
  ),
);

/**
* * SEMANTIC AND ELEMENT COLOR MAP FOR DARK THEME
*/
$paletteDark: (
  text: (
    primary: $gray50,
    secondary: $gray200,
    tertiary: $gray600,
    accent: $purple300,
    inactive: $gray500,
    reverse: black,
  ),
  background: (
    primary: $gray950,
    secondary: $gray900,
    tertiary: $gray800,
    fourth: $gray700,
    reverse: white,
  ),
  border: (
    primary: $gray700,
    secondary: $gray900,
    tertiary: $gray400,
    accent: $purple500,
  ),
  icon: (
    primary: $gray50,
    secondary: $gray200,
    tertiary: $gray600,
    inactive: $gray500,
    accent: $purple500,
  ),
  shadow: (
    primary: black,
  ),
  'button-text': (
    primary: $gray100,
  ),
  'button-background': (
    primary: $purple700,
  ),
  'backdrop-background': (
    primary: rgba(black, 0.7),
  ),
  'chat-button-border': (
    gradientOne: $gray800,
    gradientTwo: $gray800,
    gradientThree: $purple300,
    gradientFour: $purple300,
    gradientFive: $gray800,
    gradientSix: $gray800,
  ),
  'chat-button-background': (
    gradientOne: $purple600,
    gradientTwo: rgba(106, 75, 178, 0),
  ),
);
