$grid-breakpoints: (
  xs: rem-value(480),
  sm: rem-value(768),
  md: rem-value(1024),
  lg: rem-value(1200), // max width
  xl: rem-value(1400)
);

// MOBILE DEVICES
$xs: map($grid-breakpoints, xs);

// IPAD, TABLETS
$sm: map($grid-breakpoints, sm);

// SMALL SCREEN, LAPTOPS
$md: map($grid-breakpoints, md);

// EXTRA LARGE SCREENS, TV
$lg: map($grid-breakpoints, lg);

// EXTRA LARGE SCREENS, TV
$xl: map($grid-breakpoints, xl);

$mediaquery: (
  '--xs': $xs,
  '--sm': $sm,
  '--md': $md,
  '--lg': $lg,
  '--xl': $xl
);

/* TABLET PORTRAIT */
@custom-media --xs-min (width > var(--xs, #{$xs}));
@custom-media --xs-only (#{$xs} < width <= #{$sm});
@custom-media --xs-max (width <= #{$xs});

@custom-media --sm-min (width > #{$sm});
@custom-media --sm-only (#{$sm} < width <= #{$md});
@custom-media --sm-max (width <= #{$sm});

@custom-media --md-min (width > #{$md});
@custom-media --md-only (#{$md} < width <= #{$lg});
@custom-media --md-max (width <= #{$md});

@custom-media --lg-min (width > var(--lg, #{$lg}));
@custom-media --lg-only (#{$lg} < width <= #{$xl});
@custom-media --lg-max (width <= #{$lg});

@custom-media --xl-min (width > #{$xl});
@custom-media --xl-max (width <= #{$xl});
