$base: 8;

$radiusS: pxToRem($base);
$radiusM: pxToRem($base * 1.5);
$radiusL: pxToRem($base * 2);
$radius3XL: pxToRem($base * 5);

$theme-radius: (
  '--radius-s': $radiusS,
  '--radius-m': $radiusM,
  '--radius-l': $radiusL,
  '--radius-3xl': $radius3XL
)
