$base: 8;

$spacing2XS: rem-value($base * 0.25); // 2px
$spacingXS: rem-value($base * 0.5); // 4px
$spacingS: rem-value($base); // 8px
$spacingM: rem-value($base * 1.5); // 12px
$spacingL: rem-value($base * 2); // 16px
$spacingXL: rem-value($base * 3); // 24px
$spacing2XL: rem-value($base * 4); // 32px
$spacing3XL: rem-value($base * 5); // 40px
