$base: 8;

$spacing-2xs: pxToRem($base * 0.25);
$spacing-xs: pxToRem($base * 0.5);

$spacing-s: pxToRem($base);

$spacing-m: pxToRem($base * 1.5);
$spacing-l: pxToRem($base * 2);
$spacing-xl: pxToRem($base * 3);
$spacing-2xl: pxToRem($base * 4);
$spacing-3xl: pxToRem($base * 5);

$theme-spacing: (
  '--spacing-2xs': $spacing-2xs,
  '--spacing-xs': $spacing-xs,
  '--spacing-s': $spacing-s,
  '--spacing-m': $spacing-m,
  '--spacing-l': $spacing-l,
  '--spacing-xl': $spacing-xl,
  '--spacing-2xl': $spacing-2xl,
  '--spacing-3xl': $spacing-3xl
)
