
  @import 'colors';

  :export {
    gray50: #fbfbfb;
gray100: #efefef;
gray200: #dadada;
gray300: #c6c6c6;
gray400: #afafb1;
gray500: #99989d;
gray600: #838289;
gray700: #2e2e2e;
gray800: #212121;
gray900: #151515;
gray950: #050505;
purple100: #f7f6f9;
purple200: #eee9f6;
purple300: #ae8ff7;
purple500: #8152ee;
purple600: #6a4bb2;
purple700: #432d77;
    @each $key, $value in $palette {
      @each $subkey, $subvalue in $value {
        --#{$key}-color-#{$subkey}-light: #{$subvalue};
      }
    }

    @each $key, $value in $paletteDark {
      @each $subkey, $subvalue in $value {
        --#{$key}-color-#{$subkey}-dark: #{$subvalue};
      }
    }
  }
  