// FONT FAMILY
$font-primary: 'Instrument Sans', sans-serif;

// FONT SIZE
$font-size-xxs: pxToRem(10);
$font-size-xs: pxToRem(12);
$font-size-sm: pxToRem(14);
$font-size-md: pxToRem(16);
$font-size-lg: pxToRem(20);

// FONT WEIGHT
$font-weight-normal: 400;
$font-weight-semibold: 600;

// LINE HEIGHT
$font-line-height-s: 1.25;
$font-line-height-m: 1.5;

$theme-typography: (
  '--font-primary': $font-primary,
  '--font-size-xxs': $font-size-xxs,
  '--font-size-xs': $font-size-xs,
  '--font-size-sm': $font-size-sm,
  '--font-size-md': $font-size-md,
  '--font-size-lg': $font-size-lg,
  '--font-weight-normal': $font-weight-normal,
  '--font-weight-semibold': $font-weight-semibold,
  '--font-line-height-s': $font-line-height-s,
  '--font-line-height-m': $font-line-height-m,
);
