// FONT FAMILY
$font-primary: var(--font-primary, 'Instrument', sans-serif); // TODO: handle Instrument

// FONT SIZE
$font-size-xs: rem-value(12);
$font-size-sm: rem-value(14);
$font-size-md: rem-value(16);

// FONT WEIGHT
$font-weight-normal: 400;
$font-weight-semibold: 600;

// LINE HEIGHT
$font-line-height-s: 1.25;
$font-line-height-m: 1.5;
