@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

// selector id starts with orama-ui
[id^='orama-ui'] {
  @include font-smoothing();
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-family: var(--font-primary, $font-primary);
  vertical-align: baseline;
  text-size-adjust: none;

  @include mapToCustomProperties($theme-colors-light);
  @include mapToCustomProperties($theme-typography);
  @include mapToCustomProperties($theme-radius);
  @include mapToCustomProperties($theme-spacing);

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &.theme-dark {
    @include mapToCustomProperties($theme-colors-dark);
  }
}
