@keyframes showIn {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  @media (--md-min) {
    orama-input {
      padding: 0;
      margin: 0;
      border-radius: 0;
    }

    input[type='search'] {
      border-radius: var(--radius-m, $radius-m) var(--radius-m, $radius-m) 0 0;
    }
  }
}

.embed {
  background-color: var(--background-color-secondary, background-color('secondary'));
  border: 1px solid var(--border-color-primary, border-color('primary'));
  border-radius: var(--radius-m, $radius-m);
  inset: 0;
  width: 100%;
  margin: 0 auto;
  height: auto;
  max-height: pxToRem(400);
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;

  .main {
    margin: -0.5rem 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.section-active {
  display: flex;
}

.section-inactive {
  display: none;
}
