:host {
      position: relative;
      display: inline-flex;
      align-items: center;

      padding: var(--spacing-m, $spacing-m) 0;

      border-radius: var(--radius-m, 12px) var(--radius-m, 12px) 0px 0px;
      border: 1px solid var(--background-background-color-tertiary, #333);
      background: var(--background-color-secondary, background-color('secondary'));
      color: var(--text-color-secondary, text-color('secondary'));
}

::slotted([slot='adornment-start']) {
      position: absolute;
      left: 0;
      top: 0;
      padding: var(--spacing-m, $spacing-m) var(--spacing-m, $spacing-m);
}

::slotted([slot='adornment-end']) {
      position: absolute;
      right: 0;
      top: 0;
      padding: var(--spacing-m, $spacing-m) var(--spacing-m, $spacing-m);
}

textarea {
      left: 0;
      right: 0;
      // TODO: Fix hardcoded padding
      padding: 0 54px;
      resize: none;
      border: none;
      outline: none;
      background: none;
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      font-family: inherit;
      width: 100%;

      transition: max-height 0.2s;

      &::placeholder {
            color: var(--text-color-inactive, text-color('inactive'));
      }

      &:focus {
            border-color: var(--border-color-accent, border-color('accent'));
            outline: none;
      }

      &::-webkit-scrollbar {
            width: 0.2em;
      }
      &::-webkit-scrollbar-track {
            background: transparent;
      }
      &::-webkit-scrollbar-thumb {
            background-color: #ffffff85;
            border-radius: 8px;
      }
      &::-webkit-scrollbar-thumb:hover {
            background-color: #ffffff85;
      }
}
