orama-chat-messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-l, $spacing-l);
  overflow-y: auto;

  // Maybe move somewhere else to reuse in some somponents, but not globally
  &::-webkit-scrollbar {
    width: 0.3em;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // TODO: Should it be a variable?
    background-color: #b2b2b285;
    border-radius: var(--border-radius-l, $radius-l);
  }
}

.messages-container {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-l, $spacing-l) 0;
  gap: var(--spacing-l, $spacing-l);
}

.message-wrapper {
  background: var(--background-color-secondary, background-color('secondary'));
  border-radius: var(--radius-m, $radius-m);
  padding: var(--spacing-m, $spacing-m);
  margin: 0 var(--spacing-l, $spacing-l);
}

.message-error {
  text-align: center;
  padding: var(--spacing-l, $spacing-l) var(--spacing-s, $spacing-s);
  background: var(--background-color-secondary, background-color('secondary'));
  border-radius: var(--radius-m, $radius-m);
  margin: 0 var(--spacing-l, $spacing-l);

  ph-warning {
    display: block;
    color: var(--text-color-inactive, text-color('inactive'));
  }
}
