.orama-logo-message-boxes-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // Ensure the container takes the full height of its parent
  width: 100%;  // Ensure the container takes the full width of its parent
}
