.input-wrapper {
  margin: var(--spacing-s, $spacing-s) 0;
}

.input {
  border: 1px solid var(--border-color-primary, border-color('primary'));
  background: var(--background-color-secondary, background-color('secondary'));
  border-radius: var(--radius-m, $radius-m);
  color: var(--text-color-secondary, text-color('secondary'));
  padding: var(--radius-s, $radius-s) var(--radius-m, $radius-m);
  font-size: var(--font-size-sm, $font-size-sm);

  &::placeholder {
    color: var(--text-color-inactive, text-color('inactive'));
  }

  &:focus {
    border-color: var(--border-color-accent, border-color('accent'));
    outline: none;
  }
}

.input--small {
  padding: var(--spacing-xs, $spacing-xs) var(--spacing-S, $spacing-s);
}

.input--medium {
  padding: var(--spacing-s, $spacing-s);
}

.input--large {
  padding: var(--spacing-m, $spacing-m);
}

.label {
  @include span();
  margin-bottom: var(--spacing-xs, $spacing-xs);
  display: block;
}
