:host {
  display: block;
  color: var(--text-color-secondary, text-color('secondary'));
}

.message-wrapper {
  background: var(--background-color-secondary, background-color('secondary'));
  border-radius: var(--radius-m, $radius-m);
  padding: var(--spacing-m, $spacing-m);
  margin: 0 var(--spacing-l, $spacing-l);
}

.message-error {
  text-align: center;
  padding: var(--spacing-l, $spacing-l) var(--spacing-s, $spacing-s);
  background: var(--background-color-secondary, background-color('secondary'));
  border-radius: var(--radius-m, $radius-m);
  margin: 0 var(--spacing-l, $spacing-l);

  ph-warning {
    display: block;
    color: var(--text-color-inactive, text-color('inactive'));
  }
}

.message-actions {
  display: flex;
  margin-top: var(--spacing-m, $spacing-m);
  gap: var(--spacing-s, $spacing-s);
  justify-content: end;
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.sources-outer-wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 var(--spacing-s, $spacing-s) var(--spacing-m, $spacing-m) var(--spacing-l, $spacing-l);

  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(90deg, transparent 50%, var(--background-color-primary, background-color('primary')) 100%);
  }
}

.sources-wrapper {
  display: flex;
  gap: var(--spacing-s, $spacing-s);
  overflow-x: auto;
  scrollbar-width: none;
  position: relative;
}

.source {
  position: relative;
  overflow: hidden;
  width: pxToRem(195);
  flex-grow: 0;
  flex-shrink: 0;
  text-decoration: none;
  padding: var(--spacing-m, $spacing-m);
  border-radius: var(--radius-s, $radius-s);
  background: var(--background-color-secondary, background-color('secondary'));
  transition: background 0.2s ease-in-out;

  .source-title,
  .source-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (hover: hover) {
    &:hover {
      background: var(--background-color-tertiary, background-color('tertiary'));
    }
  }
}

.sr-only {
  @include screen-reader-only();
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
