:host {
  display: flex;
  align-items: center;
  padding: var(--spacing-m, $spacing-m);
  justify-content: space-between;
  border-radius: 0 0 var(--radius-m, $radius-m) var(--radius-m, $radius-m);
  border-top: 1px solid var(--border-color-primary, border-color('primary'));
}

.powered-by {
  display: flex;
  align-items: flex-end;
  text-align: right;
  flex-grow: 1;
  justify-content: right;
  gap: var(--spacing-s, $spacing-s);
}

.logo-link {
  display: inline-flex;
  align-items: center;

  &:focus-visible {
    outline: none;
    border: 1px solid var(--border-color-accent, border-color('accent'));
  }
}

.logo {
  max-width: pxToRem(62);
}
