.paragraph {
  color: var(--text-color-secondary, text-color('secondary'));
  font-size: var(--font-size-md, $font-size-md);
  line-height: var(--font-line-height-m, 1.5);

  &--bold {
    font-weight: var(--font-weight-semibold, 600);
  }

  @media (--md-min) {
    font-size: var(--font-size-sm, $font-size-sm);
  }
}

.span {
  color:  var(--text-color-tertiary, text-color('tertiary'));
  font-size: var(--font-size-sm, $font-size-sm);
  line-height: var(--font-line-height-m, 1.25);

  &--bold {
    font-weight: var(--font-weight-semibold, 600);
  }

  @media (--md-min) {
    font-size: var(--font-size-xs, $font-size-xs);
  }
}

.small {
  color: var(--text-color-tertiary, text-color('tertiary'));
  font-size: var(--font-size-xs, $font-size-xs);
  line-height: var(--font-line-height-s, $font-line-height-s);

  &--bold {
    font-weight: var(--font-weight-semibold, $font-weight-semibold);
  }
}
