:host {
  display: flex;
  align-items: center;
  padding: var(--spacing-s, $spacing-s) var(--spacing-l, $spacing-l);
  background-color: var(--background-color-primary, background-color('primary'));

  @media (--md-min) {
    display: none;
  }
}

.corner-section {
  flex: 1;
  display: flex;
  gap: var(--spacing-xs, $spacing-xs);

  &.start {
    display: flex;
    justify-content: flex-start;
  }

  &.center {
    display: flex;
    justify-content: 'center';
  }

  &.end {
    display: flex;
    justify-content: flex-end;
  }
}
