orama-chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  background: linear-gradient(180deg, var(--background-ai-gradient-one) 0%, var(--background-ai-gradient-two) 50%);
}

.messages-container-wrapper {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat-form-wrapper {
  padding: var(--spacing-m, $spacing-m) var(--spacing-l, $spacing-l);
}

.chat-input {
  margin-bottom: var(--spacing-s, $spacing-s);
}

orama-logo-icon {
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
