:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

orama-textarea {
  width: 100%;
}
.messages-container-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  background: var(--background-color-tertiary, background-color('tertiary'));
  padding: var(--spacing-m, $spacing-m) var(--spacing-l, $spacing-l) var(--spacing-s, $spacing-s) var(--spacing-l, $spacing-l);
}

.spacer {
  margin-top: var(--spacing-s, $spacing-s);
}
