.input-wrapper {
  margin: var(--spacing-s, $spacing-s) 0;
}

.input {
  @include paragraph();
  border: 1px solid var(--border-color-primary, border-color('primary'));
  background: var(--background-color-secondary, background-color('secondary'));
  border-radius: var(--radius-m, $radius-m);
  padding: var(--radius-s, $radius-s) var(--radius-m, $radius-m);
  width: 100%;

  &::placeholder {
    color: var(--text-color-inactive, text-color('inactive'));
  }

  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-decoration {
    appearance: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border: 1px solid var(--border-color-accent, border-color('accent'));
  }
}

.input--small {
  padding: var(--spacing-xs, $spacing-xs) var(--spacing-S, $spacing-s);
}

.input--medium {
  padding: var(--spacing-s, $spacing-s);
}

.input--large {
  padding: var(--spacing-m, $spacing-m);
}

.label {
  @include span();
  margin-bottom: var(--spacing-xs, $spacing-xs);
  display: block;
}
