orama-textarea {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--spacing-m, $spacing-m);
  border-radius: var(--radius-l, $radius-l);
  border: 1px solid var(--border-color-primary, border-color('primary'));
  background: var(--background-color-secondary, background-color('secondary'));
  box-shadow: 0px 4px 24px 0px var(--textarea-shadow-color, white);
}

::slotted([slot='adornment-start']) {
  position: absolute;
  left: 0;
  top: 0;
  padding: var(--spacing-m, $spacing-m) var(--spacing-m, $spacing-m);
}

::slotted([slot='adornment-end']) {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-m, $spacing-m) var(--spacing-m, $spacing-m);
}

textarea {
  @include paragraph();
  left: 0;
  right: 0;
  resize: none;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  color: var(--text-color-primary, text-color('primary'));
  width: 100%;
  font-size: var(--font-size-sm, $font-size-sm);

  transition: height 0.1s;

  &::placeholder {
    color: var(--text-color-inactive, text-color('inactive'));
  }

  &:focus {
    border-color: var(--border-color-accent, border-color('accent'));
    outline: none;
  }

  // Maybe move somewhere else to reuse in some somponents, but not globally
  &::-webkit-scrollbar {
    width: 0.3em;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b2b2b285;
    border-radius: var(--border-radius-l, $radius-l);
  }

  @media (--sm-min) {
    font-size: var(--font-size-md, $font-size-md);
  }
}
