:host {
  display: block;
}

.orama-container {
  display: flex;
  background-color: var(--background-color-primary, background('primary'));
  position: fixed;
  inset: 0;
  z-index: 1000;
  flex-direction: column;
  justify-content: space-between;
  &.hidden {
    display: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
